.speakerx{
    color: var(--prix-color);
}

nav .speakerx {
    border-bottom: 1px solid var(--prix-color);
    transition: 5ms ease-in-out;
}

 .first {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
    margin-bottom: 50px;
}

@media (max-width: 640px) {
    .first {
        width: 90%;
        width: fit-content;
    }

    .sm-menu nav .speakerx {
        color: var(--prix-color);
    }
}