  /*  btn */
  .button {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 8em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
   }

   
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   .button span:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.7s;
   }
   
   .button:hover span {
    padding-right: 1.55em;
   }
   
   .button:hover span:after {
    opacity: 4;
    right: 0;
   }


  /* style for loader */
  .loader-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    background-color: white;
  }

  .loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
   }

   /* styles for cards */
   .card {
    width: 100%;
    max-width: 300px;
    height: 350px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px #cccccc;
    background-color: #fefefe;
    margin-top: 50px;
  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
    /* background-image: url(./../img/back.png); */
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    object-position: top;
  }

  /* .card-image2 {
    background-image: url(./../img/back.png);
  }

  .card-image3 {
    background-image: url(./../img/back.png);
  } */
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category h1{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 0px 20px 0px;
  }
  
  .category h1:hover {
    cursor: pointer;
  }
  
  .heading p{
    font-weight: 500;
    color: rgb(88, 87, 87);
    padding: 10px;
    font-size: .9em;
    text-transform: capitalize;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
/* style for speakers */
  .cards {
    max-width: 450px;
    border-radius: 1rem;
    background-color: var(--white);
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 4px #cccccc;
    padding: 20px;
    margin-top: 20px;
  }
  
  .infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 1rem;
    gap: 1rem;
  }
  
  .image {
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
    background-image: url(./../img/A.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    object-position: top;
    padding-left: 0%;
    margin-left: 0%;
  }
  
  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
  }
  
  .name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    color: var(--text-color);
    padding: 0px 10px;
  }
  
  .function {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    padding: 0px 10px;
  }
  

  /* style for contact us page */
  .contact .cardx {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    width: 450px;
    width: 40%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    margin-left: 0;
    padding-left: 0;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #3366cc;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form .button {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    /* margin: auto; */
  }
  
  .form .button:hover {
    background-color: #27408b;
  }
  
  @media (max-width: 640px) {
    .contact .cardx {
      width: 350px;
      padding: 15px;
    }
  }